.container {
  align-items: center;
  justify-content: center;
  gap: vars.$spacing-secondary;
  flex: 1;

  .joinCode {
    justify-content: center;
    align-items: center;
    font-size: vars.$font-size-display;
  }

  .copyToClipboard {
  }
}
