.container {
  gap: vars.$spacing-primary;
  flex: 1;

  .description {
    color: vars.$color-text-secondary;
    text-align: center;
  }

  .players {
    flex-direction: row;
    flex-wrap: wrap;
    gap: vars.$spacing-primary;
    align-items: center;
    align-content: flex-start;
    flex: 1;

    .player {
      min-width: calc(33% - vars.$spacing-primary * 0.61);
      height: 100%;
      max-height: 150px;
    }

    .playerSelected {
      // background-color: vars.$color-primary;
      border: 2px solid vars.$color-primary;
    }

    .playerDisabled {
      filter: grayscale(1);
      border: 2px solid vars.$color-background;
    }
  }

  .lockInButton {
    background-color: vars.$color-surface;
  }
}
