.container {
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: vars.$spacing-primary;

  .headingEvil {
    font-size: 50px;
    color: vars.$color-danger;
  }

  .headingGood {
    font-size: 50px;
    color: vars.$color-success;
  }

  .description {
    font-size: vars.$font-size-h1;
    color: vars.$color-text-secondary;
    text-align: justify;
  }
}
