$evilColor: #f07e0a;
$goodColor: #43839a;

.container {
  box-shadow: vars.$shadow;
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  padding: vars.$spacing-primary;
  cursor: pointer;
  background-color: vars.$color-primary;
  justify-content: center;
  align-items: center;
  transition: scale 0.2s;

  .icon {
    font-size: vars.$icon-size-large;
  }

  &:hover {
    scale: 1.01;

    .image {
      transform: scale(1.01);
    }
  }

  &:active {
    scale: 0.99;
  }
}

.iconContainer {
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: unset;
  text-shadow: vars.$color-text-shadow;
  padding: 0 !important;
}

.disabled {
  filter: brightness(0.5);
}
