$evilColor: #f07e0a;
$goodColor: #43839a;

.container {
  width: 100%;
  box-shadow: vars.$shadow;
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  padding: vars.$spacing-primary;
  cursor: pointer;
  background-color: vars.$color-primary;
  justify-content: center;
  align-items: center;
  transition: scale 0.2s;

  &:hover {
    scale: 1.01;

    .image {
      transform: scale(1.01);
    }
  }

  &:active {
    scale: 0.99;
  }
}
