$width: calc(100% / 5 - vars.$spacing-primary * 0.8);

.container {
  border-radius: vars.$roundness;
  background-color: vars.$color-surface;
  border: 1px solid vars.$color-surface2;
  aspect-ratio: 1;
  flex: 1;
  min-width: $width;
  max-width: $width;
  justify-content: center;
  align-items: center;
  font-size: vars.$font-size-body2;
  text-align: center;
  cursor: pointer;

  .editIcon {
    font-size: vars.$icon-size-small;
  }

  .kickIcon {
    font-size: vars.$icon-size-small;
    position: absolute;
    top: calc(vars.$spacing-secondary * -1);
    right: calc(vars.$spacing-secondary * -1);
    background-color: vars.$color-surface2;
    border-radius: vars.$roundness;
    padding: vars.$spacing-tertiary;
    aspect-ratio: 1;
    border: 1px solid vars.$color-surface;
  }

  .waitingIcon {
    font-size: vars.$icon-size-medium;
    color: vars.$color-text-secondary;
  }

  .hostIcon {
    position: absolute;
    top: -8px;
    left: -4px;
    color: gold;
    font-size: vars.$icon-size-small;
    rotate: -30deg;
  }

  .readyIcon {
    position: absolute;
    right: 2px;
    bottom: 2px;
    color: vars.$color-success;
    font-size: vars.$icon-size-small;
  }
}

.connected {
  // border: 1px solid vars.$color-primary;

  background-color: vars.$color-surface2;
}

.host {
  // border: 5px solid gold !important;
}

.user {
  border: 1px solid vars.$color-primary;
}

.myFace {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: vars.$roundness;
  border: 5px solid vars.$color-surface2;
}
