.container {
  gap: vars.$spacing-primary;
  flex: 1;

  .players {
    flex-direction: row;
    flex-wrap: wrap;
    gap: vars.$spacing-primary;
    flex: 1;
    margin-top: vars.$spacing-primary;
    margin-bottom: vars.$spacing-primary;

    .player {
      background-color: vars.$color-surface;
      padding: vars.$spacing-primary;
      border-radius: vars.$roundness;
      flex: 0.333;
      min-width: calc(33% - vars.$spacing-primary);
      max-width: calc(33% - vars.$spacing-primary / 1.75);
      text-align: center;
      place-content: center;
      cursor: pointer;
    }

    .playerSelected {
      background-color: vars.$color-primary;
    }

    .playerDisabled {
      filter: brightness(vars.$disabled-brightness-filter);
    }
  }
}
