.container {
  .leaveButton {
    position: absolute;
    top: vars.$spacing-primary;
    right: vars.$spacing-primary;
    z-index: 9;

    .leaveButtonIcon {
      font-size: vars.$icon-size-large;
    }
  }

  .content {
    gap: vars.$spacing-primary;
    padding: vars.$spacing-primary;
    flex: 1;
  }

  .players {
    background-color: red;
  }
}
