.container {
  flex: 1;
  justify-content: center;

  .quests {
    flex-direction: row;
    justify-content: stretch;
    gap: vars.$spacing-primary;
    flex-wrap: wrap;
    justify-content: center;

    .quest {
      flex: 1;
      min-width: 100px;
      max-width: calc(100% / 5 - vars.$spacing-primary);
    }
  }
}
