.container {
  padding: vars.$spacing-primary;
  align-items: center;
  justify-content: center;

  .heading {
    font-size: vars.$font-size-h1;
  }

  .leaveButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
