.container {
  width: 100%;
  flex: 1;
  padding: vars.$spacing-primary;

  .joinSection {
    flex: 0.5;
    align-items: center;
    justify-content: center;
    gap: vars.$spacing-secondary;

    .joinCode {
      justify-content: center;
      align-items: center;
      font-size: vars.$font-size-display;
    }
  }

  .divider {
    height: 100%;
    height: 1px;
    background-color: vars.$color-surface3;
    margin-top: calc(vars.$spacing-primary * 2);
    margin-bottom: vars.$spacing-primary;
  }

  .numPlayers {
    align-self: center;
    margin-bottom: vars.$spacing-primary;
  }

  .playersSection {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    gap: vars.$spacing-primary;
    flex-wrap: wrap;
    align-content: flex-start;

    .player {
      border: 1px solid vars.$color-surface2;
      border-radius: vars.$roundness;
      aspect-ratio: 1.25;
      justify-content: center;
      align-items: center;
      flex: 0.33;
      min-width: 25%;
      cursor: pointer;
      max-height: 200px;
      max-width: 200px;
    }

    .currentPlayer {
      border: 1px solid vars.$color-primary;
    }

    .editButton {
      position: absolute;
      top: vars.$spacing-secondary;
      right: vars.$spacing-secondary;
    }

    .checkmark {
      position: absolute;
      bottom: vars.$spacing-secondary;
      right: vars.$spacing-secondary;
      color: vars.$color-success;
    }
  }

  .buttons {
    flex-direction: row;
    gap: vars.$spacing-primary;

    .leaveButton {
      background-color: vars.$color-danger;
    }

    .readyButton {
      background-color: vars.$color-success;
    }
  }
}
