.container {
  width: 100%;
  flex: 1;
  padding: vars.$spacing-primary;

  .join {
    flex: 0.5;
  }

  .divider {
    height: 100%;
    height: 1px;
    background-color: vars.$color-surface3;
    margin-top: calc(vars.$spacing-primary * 2);
    margin-bottom: vars.$spacing-primary;
  }

  .players {
    flex: 1;
  }

  .buttons {
    flex-direction: row;
    gap: vars.$spacing-primary;

    .leaveButton {
      background-color: vars.$color-danger;
    }

    .readyButton {
      background-color: vars.$color-success;
    }
  }
}
