.container {
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: vars.$spacing-primary;

  .section {
    width: min(100%, 300px);
    background-color: vars.$color-surface;
    border-radius: vars.$roundness;
    padding: vars.$spacing-secondary;
    box-shadow: vars.$shadow;
    justify-content: center;
    align-items: center;

    .input {
      background-color: vars.$color-surface3;
      margin-bottom: vars.$spacing-primary;
    }
  }

  $evilColor: #f07e0a;
  $goodColor: #43839a;

  .charactersButton {
    background: rgb(54, 138, 196);
    background: linear-gradient(
      90deg,
      rgba(54, 138, 196, 1) 0%,
      rgba(213, 74, 19, 1) 100%
    );
  }

  .buttonBackground {
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .logoContainer {
    // width: calc(100% - vars.$spacing-primary * 2);
    width: min(100%, 300px);
    height: 125px;
    justify-content: flex-end;
    align-items: center;
    // background-color: vars.$color-surface;
    border-radius: vars.$roundness;
    background-color: vars.$color-primary;
    padding-top: vars.$spacing-secondary;
    padding-left: vars.$spacing-tertiary;
    padding-right: vars.$spacing-tertiary;
    padding-bottom: 0;
    overflow: hidden;

    .buttonBackground {
      height: 100%;
      background-color: red;
    }

    .buttonImageLeft {
      position: absolute;
      height: 100%;
      left: -8px;
      z-index: 2;
    }

    .buttonImageRight {
      position: absolute;
      height: 100%;
      right: -8px;
      z-index: 2;
    }

    .rulesImage {
      position: absolute;
      top: 0;
      bottom: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .testHeading {
      font-size: 2.5rem;
      background-color: vars.$color-background-translucent-light;
      border-radius: vars.$roundness;
      height: 100%;
      width: 100%;
      position: absolute;
      justify-content: center;
      align-items: center;
      z-index: 4;
      text-shadow: vars.$shadow;
    }

    .logo {
      width: min(500px, 100%);
      height: 100%;

      .image {
        position: absolute;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 0.5;
      }

      .clericImage {
        @extend .image;
        left: 0%;
        z-index: 0;
      }

      .percivalImage {
        @extend .image;
        left: 14%;
        z-index: 1;
      }

      .merlinImage {
        @extend .image;
        left: 28%;
        z-index: 2;
      }

      .assassinImage {
        @extend .image;
        right: 28%;
        z-index: 2;
      }

      .oberonImage {
        @extend .image;
        right: 14%;
        z-index: 1;
      }

      .morganaImage {
        @extend .image;
        right: 0%;
        z-index: 0;
      }
    }
  }

  .gameRulesButton {
    margin-bottom: vars.$spacing-primary;
  }
}
