.container {
  padding: vars.$spacing-primary;
  padding-top: 0;
  flex: 1;

  .heading {
    margin-bottom: vars.$spacing-secondary;
    margin-top: vars.$spacing-primary;
  }

  .continueButton {
    margin-top: calc(vars.$spacing-primary * 2);
  }
}
