.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: vars.$spacing-primary;
  gap: vars.$spacing-primary;

  .header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: vars.$spacing-primary;
    width: 100%;
    margin-bottom: calc(vars.$spacing-primary);

    .heading {
      font-size: vars.$font-size-h1;
    }

    .numSelected {
      height: 100%;
      position: absolute;
      right: vars.$spacing-primary;
      height: 100%;
      justify-content: center;
    }
  }

  .numPlayersSection {
    margin-bottom: vars.$spacing-primary;
    width: 100%;

    gap: vars.$spacing-secondary;

    .numPlayersInput {
      align-self: center;
    }
  }

  .sectionHeading {
    font-size: vars.$font-size-h2;
    align-self: flex-start;
  }

  .characters {
    flex-direction: row;
    gap: vars.$spacing-primary;
    flex-wrap: wrap;

    .character {
      flex: 1;
      min-width: calc(33% - vars.$spacing-primary);
      max-width: calc(33% - vars.$spacing-primary * 0.5);
      height: 175px;
      justify-content: center;
      align-items: center;
    }
  }
}
