.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: vars.$color-background-translucent;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container {
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  gap: vars.$spacing-primary;

  .photo {
    aspect-ratio: 1;
    border: 1px solid vars.$color-surface2;
    width: 100px;
    background-color: vars.$color-surface2;
    border-radius: vars.$roundness;
    justify-content: center;
    overflow: hidden;
    margin-bottom: vars.$spacing-primary;

    .photoIcon {
      font-size: 30px;
    }

    .image {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .imageInput {
    display: none;
  }

  .input {
    background-color: vars.$color-surface2;
  }

  .saveButton {
    margin-top: calc(vars.$spacing-primary);
    width: 100%;
  }
}
