.container {
  gap: vars.$spacing-primary;
  width: 100%;
  padding: vars.$spacing-primary;
  pointer-events: none;

  .description {
  }

  .card {
    pointer-events: auto;
    width: 100%;
    max-height: 400px;
    max-width: 600px;
    aspect-ratio: 1.4;
  }
}
