.container {
  align-items: center;
  justify-content: center;
  gap: vars.$spacing-primary;
  flex: 1;

  .lobbyInfo {
    align-items: center;
    width: 100%;
    gap: vars.$spacing-tertiary;

    .joinCode {
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }

  .copyToClipboard {
    flex-direction: row;
    margin-top: vars.$spacing-secondary;
    gap: vars.$spacing-secondary;
    font-size: vars.$font-size-h3;
    align-items: center;
    cursor: pointer;

    .copyIcon {
      font-size: vars.$font-size-h3;
      margin-bottom: 4px;
    }
  }

  .editor {
    flex: 1;
  }
}
