.container {
  justify-content: center;
  align-items: center;
  gap: vars.$spacing-primary;
  flex-direction: row;

  .avatar {
    aspect-ratio: 1;
    width: 100px;
    background-color: vars.$color-surface;
    border-radius: vars.$roundness;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    .avatarImage {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .avatarIcon {
      font-size: vars.$icon-size-large;
    }

    .editIcon {
      font-size: vars.$icon-size-small;
      position: absolute;
      top: vars.$spacing-secondary;
      right: vars.$spacing-secondary;
    }

    .imageInput {
      display: none;
    }
  }

  .nameContainer {
    flex: 1.5;
    flex-direction: row;
    gap: vars.$spacing-primary;

    .name {
      justify-content: center;
    }

    .nameInput {
      // font-size: vars.$font-size-h3;
      width: 150px;
      font-size: vars.$font-size-body;
      text-align: center;
      background-color: vars.$color-surface;
      padding-left: calc(vars.$spacing-secondary + vars.$spacing-secondary + 40px);
      padding-right: calc(vars.$spacing-secondary + vars.$spacing-secondary + 40px);
    }

    .saveNameButton {
      position: absolute;
      right: vars.$spacing-secondary;
      top: 50%;
      transform: translateY(-50%);
      bottom: 0;
      background-color: vars.$color-success;
      height: 36px;
      width: 36px;

      svg {
        font-size: vars.$icon-size-medium !important;
      }
    }
  }
}
