.container {
  justify-content: center;
  align-items: center;
  gap: vars.$spacing-primary;
  flex-direction: row;

  .avatar {
    aspect-ratio: 1;
    width: 150px;
    background-color: vars.$color-surface;
    border-radius: vars.$roundness;
    justify-content: center;
    overflow: hidden;

    .avatarImage {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .avatarIcon {
      font-size: vars.$icon-size-large;
    }

    .imageInput {
      display: none;
    }
  }

  .nameLabel {
    margin-bottom: vars.$spacing-tertiary;
    font-size: vars.$font-size-h3;
  }

  .name {
    justify-content: center;
  }

  .nameInput {
    // font-size: vars.$font-size-h3;
    width: 150px;
    font-size: vars.$font-size-body;
    padding-left: vars.$spacing-secondary;
    padding-right: vars.$spacing-secondary;
    text-align: center;
    background-color: vars.$color-surface;
  }
}
